<%- include('./partials/nav') %>

    <h1> Projects</h1>
    <div class="projects">
    <% projects.forEach(function (project) { %>
            
           
                <a href="/project/<%= project.id  %>">
                <h2><%= project.title %></h2>
                </a>
           
           
                <% }); %>
            </div>
</body>
</html>