body{
    font-family: cursive;
    background-color: #7cc9cc;
}
h1{
    text-align: center;
    font-family: cursive;
}
.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000000;
    background-color: #31768b;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    color: #e0e7eb;
    font-family: cursive; ;
}
.skills:hover{
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: 0.15s;
}
.nav{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   font-family: cursive;
   border-radius: 5px;
   gap: 10px;
}
.nav a{
    background-color: #31768b;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    margin-bottom: 20px;
}
.nav a:hover{
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: 0.15s;
}
.projects{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    transition: 0.15s;
    gap: 20px;
    
    
}
.projects a:hover{
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: 0.15s;
   
}
.projects a{
    text-decoration: none;
    border-radius: 5px;
    background-color: #31768b;
    border: 1px solid #000000;
    color: #ffffff;
    padding: 5px;
   
   
}
.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    background-color: #31768b;
    border: 1px solid #000000;
    margin: 20px 0;
    padding: 10px;
    color: #e0e7eb;
    font-family: cursive; ;
}
